.jumbo {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;

  // background: #ff00fc;
  // background: url(/obediencia.jpg);
  color: black;

  display: none;

  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  .texto {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    max-width: 600px;

    font-size: 1.5rem;
    h1 {
      font-weight: bold;
      font-size: 2.5rem;
    }
    @media screen and (min-width: 900px) {
      font-size: 2rem;
      h1 { font-size: 3rem; }
    }

    .btn {
      align-self: flex-end;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  }

  figure {
    img {
      width: 100%;
      max-height: 90vh;
    }
    figcaption {
      text-align: right;
    }
  }
}

body.home {
  .navbar-brand {
    display: none;
  }
  .jumbo {
    display: flex;
  }
  .navbar {
    position: fixed;
  }
  main {
    margin-top: 2em;
  }
}

footer {
  padding: 2rem;
  p {
    max-width: 900px;
    margin: 0 auto;
  }
}

blockquote {
  margin: 0 0 1rem;
  padding: .5rem 0 .5rem 1rem;
  border-left: solid;
  p { margin: 0; }
}


a {
  &[target=_blank] {
    &:after {
      content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAV0lEQVR4Xq2QwQ2AAAwC3cmd2Kk7sRP64CEJ9qOX8OPatMc/QKppnEPhTmJh23CLiwAqIw21CybKQ28qQi37WGFYBJcwfJQpP8LlEHKyZMF0IdmF13zlAjZ/6H4wb+mUAAAAAElFTkSuQmCC');
    }
  }
}

html {
  scroll-behavior: smooth;
  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}
